/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.5rem;
    font-family: calibri;
}

.container {
    padding: 1rem;
    color: #030205;
    font-size: 3rem;  
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows:  20vh 70vh 10vh;
    gap: 5px;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer"
    ;
    
}
header{
    background-color: aqua;
    grid-area: header;
}
main{
    background-color: aquamarine;
    grid-area: main;
}
aside{
    background-color: cadetblue;
    grid-area: aside;
}
footer{
    background-color: cornflowerblue;
    grid-area: footer;
}


